body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
}
#u144_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u144_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:804px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:804px;
}
#u146 {
  position:absolute;
  left:2px;
  top:394px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:25px;
  top:760px;
  width:44px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u148 {
  position:absolute;
  left:217px;
  top:760px;
  width:44px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u149 {
  position:absolute;
  left:306px;
  top:760px;
  width:44px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u150 {
  position:absolute;
  left:0px;
  top:66px;
  width:375px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u151 {
  position:absolute;
  left:0px;
  top:208px;
  width:375px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u144_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u153 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:19px;
  top:144px;
  width:337px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u155 {
  position:absolute;
  left:19px;
  top:398px;
  width:337px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u156 {
  position:absolute;
  left:3px;
  top:21px;
  width:64px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u157 {
  position:absolute;
  left:187px;
  top:624px;
  width:188px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u144_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u159 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:15px;
  top:246px;
  width:61px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u161 {
  position:absolute;
  left:327px;
  top:184px;
  width:41px;
  height:33px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u144_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u163 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:10px;
  top:210px;
  width:74px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u165 {
  position:absolute;
  left:327px;
  top:186px;
  width:42px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u144_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u167 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:333px;
  top:437px;
  width:30px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u169 {
  position:absolute;
  left:8px;
  top:537px;
  width:355px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144_state5 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u144_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u171 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:7px;
  top:25px;
  width:61px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u173 {
  position:absolute;
  left:7px;
  top:194px;
  width:368px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144_state6 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u144_state6_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1654px;
}
#u174 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1654px;
}
#u175 {
  position:absolute;
  left:2px;
  top:819px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:7px;
  top:22px;
  width:63px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u144_state7 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u144_state7_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1654px;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1654px;
}
#u178 {
  position:absolute;
  left:2px;
  top:819px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179 {
  position:absolute;
  left:8px;
  top:24px;
  width:67px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
